<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | No Convention of States North Carolina</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NOCOSNC.com</a>
        </div>
        <div id="primary-navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation"><%= link_to "Home", root_path %></li>
                <li role="presentation"><%= link_to "About", about_path %></li>
                <li role="presentation"><%= link_to "Reasons To Oppose", reasonsToOppose_path %></li>
                <li role="presentation"><%= link_to "What Can Be Done?", whatCanBeDone_path %></li>
                <li role="presentation"><%= link_to "Contact Us", contact_path %></li>
              </ul>
            </nav>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <img src="/no convention logo1.jpg" alt="nocosnc.com" class="img-responsive">
      </div>
      <div class="container">

        <%= yield %>

      </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
  </body>
</html>
